<template>
  <div>
    <h1>Home Page</h1>
    <div href @click="goToLogin">Go To Login</div>
  </div>
</template>

<script>
export default {
  methods: {
    goToLogin () {
      this.$router.push('/login')
    }
  }
}
</script>

<style>
</style>
