<template>
  <div>
    <h1>Login Page</h1>
    <div @click="goToLogin">Go To Home Page</div>
  </div>
</template>

<script>
export default {
  methods: {
    goToLogin () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
</style>
